
.home{
    height: 830px;
    background: #FFFFFF;
    padding: none;
}


.about{
    height: 830px;
    background-image: url("./images/pexels-cottonbro-4101143.jpg");
    background-size: cover; 
    background-position: center; 
background-repeat: no-repeat; 
font-family: Arial, Helvetica, sans-serif;
border-radius: 40px;
margin-bottom: -11px;
}


.mission{
    height: 830px;
    background: #f8f8f8;
}

.services{
    height: 830px;
    background-size: cover; 
    background-position: center; 
background-repeat: no-repeat; 
}

.img img{
width: 700px;
height: 650px;
margin-left: -80px;
border-radius: 90px;
margin-top: 80px;
}

.hero{
    margin-top: 200px;
    color: #145F63;
font-weight: bolder;
    font-size: 44px;
}

.cu{
  box-shadow: -11px 18px 10px -8px rgba(0,0,0,0.49);
-webkit-box-shadow: -11px 18px 10px -8px rgba(0,0,0,0.49);
-moz-box-shadow: -11px 18px 10px -8px rgba(0,0,0,0.49);
}

.ca{
  box-shadow: 2px 19px 36px -8px rgba(0,0,0,0.49);
-webkit-box-shadow: 2px 19px 36px -8px rgba(0,0,0,0.49);
-moz-box-shadow: 2px 19px 36px -8px rgba(0,0,0,0.49);
}

.ce{
  box-shadow: 31px 29px 53px -15px rgba(0,0,0,0.49);
-webkit-box-shadow: 31px 29px 53px -15px rgba(0,0,0,0.49);
-moz-box-shadow: 31px 29px 53px -15px rgba(0,0,0,0.49);
}

.card-body h2{
    color: #145F63;
}

.herr{
    color: #145F63;
    font-weight: bolder;
        font-size: 44px;
}

.gu{
    width: 1400px;
    margin-left: 100px;
    line-height: 40px;
}

.sub-text1{
font-family: Arial, Helvetica, sans-serif;
 font-size: 25px;
 line-height: 30px;

}

.sub-text-about{
margin-left: 300px;
margin-right: 300px;
text-align: center;
font-weight: 700;
line-height: 35px;
font-size: 25px;
color: #030404;
}

span{
    color: #000;
}

@media (max-width: 600px) {
  .m{
margin-top: -150px;
  }

  .carousel-slide{
    margin-bottom: 200px;
margin-left: -315px;

  }
  .carousel-slide img {
width: 422px;
height: 5px;
padding-top: 20px;
  }

  .about {
display: none;

  }

  .mission {
 margin-bottom: 350px;
 margin-top: -200px;

  }

  .services{
    margin-bottom: 1300px;
  }

  .container9{
    margin-top: -60px;
display: row;
  }
  .scrollspy-example{
    
  }

}

@media (max-width: 767px) {
    .img img {
    margin-top: -10px;
   object-fit: cover;
    }
    .carousel-slide{
      margin-bottom: 200px;
  margin-left: -315px;
  
    }
    .carousel-slide img {
  width: 422px;
  height: 5px;
  padding-top: 20px;
    }

    .colou{
    padding-top: -100px;
    }

    .hero {
        margin-top: -0px;
        padding-top: 10px;
        text-align: center;
      
    }

    .container{
    flex-direction: row;
    }
    

    .home {
     margin-bottom: 450px;
    }

    .about{
        margin-top: -200px;
    }

    .gu{
  width: 390px;
  margin-left: -1px;
    }
    .sub-text1 {
        font-size: 20px;
        text-align: center;
      }
      .sub-text-about {
        font-size: 20px;
        text-align: center;
        width: 390px;
       margin-left: 20px;


      }
      .btn{
        margin-left: 110px;
      }
      .p{
        margin-left: 10px;
      }

 
  }

  /* For larger screens */
  @media (min-width: 768px) {
    .hero {
      font-size: 36px;
    }
    .container{
      flex-direction: row;
      }
    .sub-text1{
      font-size: 20px;
      text-align: center;
   
    }

    .get {
      font-size: 18px;
    }
  }

.m{
    padding-top: 120px;
    color: #145F63;
    font-weight: bolder;
}

.l{
    color: #145F63;
}

.colou{
    background-color:#a3b18a ;
  
}

.colour{
  background-color:#a3b18a;
}

.carousel-slide img {
    height: 850px;
border-radius: 40px;
}
.b{

}
.carousel-slide{
border-radius: 200px;
    padding-left: 320px;
}
.uf-contact-form-01 {
    max-width: 900px;
}
@media (min-width: 576px){
     .uf-contact-form-01 {
    min-height: 100vh;
    align-content: center;
} 
}
.uf-img-contact-form-01{
      max-width: 100%;
      animation: uf-animation 4s ease-in-out 1s infinite alternate;
      position: relative;
}
.uf-ct-01-text-primary{
      color: #145F63;
}
.uf-ct-01-btn-primary{
      background-color: #864ef2;
      color: #fff;
}
.uf-ct-01-btn-primary:hover{
      background-color: #641eec;
      color: #811b1b;
}

@keyframes uf-animation {
  0%   {top:0px;}
  50%  {top:-30px;}
  100% {top:0px;}
}
.form-control:focus {
    border-color: #200c45;
    box-shadow: 0 0 0 .25rem rgb(103 58 183 / 21%);
}

.site-footer
{
  background-color:#F8F9FA;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#145F63;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#145F63;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#145F63;
}
.site-footer a:hover
{
  color:#020306;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#145F63
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#262a32;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.uf-contact-form-01{
  margin-top: -200px;
}

header {
  background-image: url("images/bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
}

.container1 {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

.container__left h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary-color);
}

.container__left p {
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.container__left button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color-dark)
  );
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.container__right {
  display: grid;
  gap: 2rem;
}

.card1 {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card1 img {
  max-width: 75px;
  border-radius: 100%;
}

.card__content {
  display: flex;
  gap: 1rem;
}

.card__content span i {
  font-size: 2rem;
  color: var(--primary-color);
}

.card__details p {
  font-style: italic;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.card__details h4 {
  text-align: right;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

@media (width < 1200px) {
  .container1 {
    gap: 3rem;
  }

  
}

@media (width < 900px) {
  .container1 {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 250px;
    margin-top: -200px;
  }
  .site-footer{
    margin-top: 150px;
  }
  .container__right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 750px) {
  .container__right {
    grid-template-columns: repeat(1, 1fr);

  }
}

.uf-contact-form-01{
  margin-bottom: -190px;
}