
.home{
    height: 830px;
    background: #f8f8f8;
}


.about{
    height: 830px;
    background-image: url("https://images.pexels.com/photos/460295/pexels-photo-460295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover; 
    background-position: center; 
background-repeat: no-repeat; 

font-family: Arial, Helvetica, sans-serif;
border-radius: 40px;
}


.mission{
    height: 830px;
    background: #f8f8f8;
}
.services{
    height: 830px;
    background-image: url("./images/pexels-neosiam-594421.jpg");
    background-size: cover; 
    background-position: center; 
background-repeat: no-repeat; 
}
.img img{
width: 700px;
height: 650px;
margin-left: -80px;
border-radius: 90px;
margin-top: 80px;
}

.hero{
    margin-top: 200px;
    color: #145F63;
font-weight: bolder;
    font-size: 44px;
}


.card-body h2{
    color: #145F63;
}
.herr{
    color: #145F63;
    font-weight: bolder;
        font-size: 44px;
}


.gu{
    width: 1400px;
    margin-left: 100px;
    line-height: 40px;
}

.sub-text{
font-family: Arial, Helvetica, sans-serif;
 font-size: larger;
}

.sub-text-about{
margin-left: 300px;
margin-right: 300px;
text-align: center;
font-weight: 800;
line-height: 30px;
}

span{
    color: #000;
}

@media (max-width: 767px) {
    .img img {
    margin-top: -10px;
   object-fit: cover;
    }

    .hero {
        margin-top: -0px;
        padding-top: 10px;
        text-align: center;
      
    }

    .home {
     margin-bottom: 450px;
    }

    .about{
        margin-top: -150px;
    }
    .gu{
  width: 390px;
  margin-left: -1px;
    }
    .sub-text {
        font-size: 18px;
        text-align: center;
      }

 
  }

  /* For larger screens */
  @media (min-width: 768px) {
    .hero {
      font-size: 36px;
    }

    .sub-text {
      font-size: 18px;
   
    }

    .get {
      font-size: 18px;
    }
  }

.m{
    padding-top: 120px;
    color: #145F63;
    font-weight: bolder;
}

.l{
    color: #145F63;
}


.colou{
    background-color:#fefae0 ;
  
}

.colour{
    background-color:#edecda ;
  
}

.carousel-slide img {
    height: 850px;
border-radius: 40px;

}

.carousel-slide{
border-radius: 200px;
    padding-left: 320px;
}
